body{
    margin: 0;
    padding: 0;
    background-color: #1b263b;
}
.container{
    width: 40%;
    height: 50%;
    margin-left: 30%;
    color: white;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(90, 85, 85);
}
input{
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
}
button {
    display: inline-block;
    padding: 1px 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
  }
  
  button:hover {background-color: #3e8e41}
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
